body{
    min-height: 100vh;
    background: linear-gradient(
        -135deg,
        rgb(39,28,243),#ec2f12);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    color: white;
    background-color: rgba(255,255,255,0.20);
    border-radius: 10px;
    padding: 4em 3em;
}
.title{
    font-size: 3em;
}
hr{
    width: 100%;
    background-color: white;
    height: 5px;
    border-radius: 1em;
    border: none;
}
.timer{
    font-size: 10em;
    font-weight: 500;
}
.button-wrapper{
    display: flex;
    gap: 1em;

}

